<!-- if you want to see the result in a small screen click inspect -->



<!DOCTYPE html>
<html>



<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
<meta name="viewport" content="with=device-width, initial-scale=1.0">
<title>Clubs at Jacobs</title>
<link rel="stylesheet" href="homepage.css">
</head>



<body class="body">
<section class="header">
<nav>
<a href="homepage.html"><img src="images/logo.png"></a>
<div class="nav-links" id="navLinks">

<ul>
<li><a href="/">HOME</a></li>
<li><a href="/login">LOGIN</a></li>
<li><a href="/registration">REGISTER</a></li>
<li><a href="/upload">UPLOAD</a></li>
</ul>
</div>

</nav>



<div class="text-box">
<h1>Corona Archive Home Page</h1>
<p>Hello, this is the corona archive home page. This web service aims to provide digital tracking of citizens that enter certain <br>places and keeping the records in case of a covid infection spread. To proceed with our services, go to the <a href="/login"><font color="#cbc3e3">login</a> or the <a href="/registration"><font color="#cbc3e3">registration</a> page. </p>
<a href="" class="hero-btn">Visit Us To Know More</a>
</div>
</section>



<h1><font color =black> Services We Offer </h1>
<section class="services">



<div class="services-col">
<h3> First Service </h3>
<p><font color=black> Exposure notifications - we tell if you have come into contact with a person with covid.</font></p>
</div>



<div class="services-col">
<h3> Second Service </h3>
<p><font color=black> We allow you to post your booster and vaccination status so that we can determine what date you should book your next appointment on.</font></p>
</div>



<div class="services-col">
<h3> Third Service </h3>
<p><font color=black> We tell you the necessary steps to take in order to avoid the spread of the disease and how to take care of yourself.</font></p>
</div>



</section>
<section class="creators">
<h1> Our Website Creators </h1>
<p> Usman, Fizza: f.usman@jacobs-university.de AND Idris, Chendid: i.chendid@jacobs-university.de</p>
<div class="creators-col">
<img src="images/fizza.jpeg">
<div class="layer">
<h3> Fizza Usman </h3>
</div>
<div class="creators-col">
<img src="images/idris.jpeg">
<div class="layer">
<h3> Idris Chendid </h3>
</div>






</section>




</body>
</html>