{% extends "layout.html" %}

{% block head %}
<title>Hospital Login</title>
{% endblock %}


{% block navbar %}
<!-- <a href="{{ url_for('home') }}"> Home </a>
<a href="{{ url_for('about') }}"> About </a> -->
{% endblock %}


{% block content %}
<form class="form-container" style="width: 400px" action="/login_hospital" method="POST">
    <h2 class="action-title-text"> Log in as Hospital </h2> <br>


    <input type="text" class="form-control" name="username" placeholder="Username" />
    <input type="password" class="form-control" name="password" placeholder="Password" />

    <label class="error"> {{prompt}} </label>
    <div class="center">
        <button type="submit" class="action-btn"> Submit </button>
    </div>
</form>
{% endblock %}