{%extends 'base.html' %}





{% block body %}

<div class="circle"></div>

<div class= "content">
    <div class="textBox">
        <h1>Protect yourself and the others<br> with <span> Anti-Corona</span></h1>
    <p> Anti-Corona is a system that is made to limit the propagation of Corona. Become part of this system and you will be notified each time you were close to someone that was infected.</p>
    <a href="#">Learn More</a>
    </div>

    <div class="imgBox">
    <img src="../static/COVID.jpg" class="Corona">
    </div>

</div>

{% endblock %} 